<!DOCTYPE html>
<html>
<head>
              <link rel="stylesheet" href="style.css">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
              <title>e-shop</title>

</head>

<body>
       <div class="grid-container">
            <header class="row">
              <div>
                  <a class="brand" href="index.html">E-shop</a>          
              </div>
              <div>
                  <a href="cart.html">Shop</a>
                  <a href="signin.html">Login</a>          
              </div>
            </header>
            <main>
                <div class="row center">
                <div class="card">
                  <a href="preduct.html">
                    <!--image size : 680px-->
                    <img class="medium" src="./images/product1.jpg" alt="product1">
                  </a>
                  <div class="card-body">
                    <a href="prodcut.html">
                      <h2>Appel Watch </h2>
                    </a>
                    <div class="rating">
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i> </span>
                      <span> <i class="fas fa-star"></i> </span>
                      <span><i class="fas fa-star"></i> </span>
                      <span><i class="far fa-star"></i></span>
                    </div>

                    <div class="price">
                      1200 Dt
                    </div>


                  </div>
                </div> 
                <div class="card">
                  <a href="preduct.html">
                    <!--image size : 680px-->
                    <img class="medium" src="./images/product2.jpg" alt="product1">
                  </a>
                  <div class="card-body">
                    <a href="prodcut.html">
                      <h2>Appel Watch </h2>
                    </a>
                    <div class="rating">
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i> </span>
                      <span> <i class="fas fa-star"></i> </span>
                      <span><i class="fas fa-star"></i> </span>
                      <span><i class="far fa-star"></i></span>
                    </div>

                    <div class="price">
                      1200 Dt
                    </div>


                  </div>
                </div> 
                <div class="card">
                  <a href="preduct.html">
                    <!--image size : 680px-->
                    <img class="medium" src="./images/product3.jpg" alt="product1">
                  </a>
                  <div class="card-body">
                    <a href="prodcut.html">
                      <h2>Huawei Watch </h2>
                    </a>
                    <div class="rating">
                      <span><i class="fas fa-star"></i></span>
                      <span><i class="fas fa-star"></i> </span>
                      <span> <i class="fas fa-star"></i> </span>
                      <span><i class="fas fa-star"></i> </span>
                      <span><i class="far fa-star"></i></span>
                    </div>

                    <div class="price">
                      1200 Dt
                    </div>

                  </div>
                </div> 
                 
                </div>          
            </main>   
            <footer class="row center">
              All right reserved
            </footer>      
       </div>       
</body>
</html>